absl-py==2.1.0
accelerate==0.27.2
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
alabaster==0.7.16
altair==5.2.0
aniso8601==9.0.1
annotated-types==0.6.0
ansible-base==2.10.8
antlr4-python3-runtime==4.9.3
anyio==4.3.0
apache-libcloud==3.2.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi==21.1.0
arxiv==2.1.0
asciitree==0.3.3
asgiref==3.7.2
astunparse==1.6.3
async-timeout==4.0.3
attrdict==2.0.1
attrs==23.2.0
audioread==3.0.1
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
beniget==0.4.1
bidict==0.23.1
black==19.10b0
bleach==4.1.0
blinker==1.7.0
boto3==1.34.40
botocore==1.34.40
braceexpand==0.1.7
Brlapi==0.8.3
Brotli==1.0.9
bs4==0.0.2
build==1.0.3
cachetools==5.3.2
cdifflib==1.2.6
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.5
chromadb==0.5.4
click==8.0.2
clip==0.2.0
cmake==3.28.3
cohere==5.6.1
colorama==0.4.4
colored==2.2.4
coloredlogs==15.0.1
comm==0.2.1
command-not-found==0.3
coverage==7.4.1
cryptography==3.4.8
cuda-python==12.2.0
cupshelpers==1.0
cycler==0.11.0
Cython==3.0.8
cytoolz==0.12.3
dataclasses-json==0.6.4
datasets==2.14.7
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
diffusers==0.26.3
dill==0.3.5.1
dirtyjson==1.0.8
Distance==0.1.3
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.0.1
dnspython==2.1.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.20.1
duplicity==0.8.21
editdistance==0.8.1
einops==0.7.0
einops-exts==0.0.4
entrypoints==0.4
et-xmlfile==1.1.0
evaluate==0.4.1
exceptiongroup==1.2.0
execnet==2.0.2
faiss-cpu==1.7.4
fastapi==0.110.0
fastavro==1.9.5
fasteners==0.14.1
fasttext==0.9.2
feedparser==6.0.10
ffmpy==0.3.2
filelock==3.13.1
FlagEmbedding==1.2.10
Flask==2.2.5
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
flatbuffers==23.5.26
fonttools==4.29.1
frozenlist==1.4.1
fs==2.4.12
fsspec==2023.10.0
ftfy==6.1.3
future==0.18.2
g2p-en==2.1.0
gast==0.5.4
gdown==5.1.0
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
gradio==4.19.2
gradio_client==0.10.1
graphviz==0.20.1
greenlet==3.0.3
grpcio==1.60.0
gyp==0.1
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.4
httplib2==0.20.2
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.20.3
humanfriendly==10.0
hydra-core==1.3.2
identify==2.5.33
idna==3.6
ijson==3.2.3
image==1.5.33
imageio==2.34.0
imagesize==1.4.1
importlib-metadata==7.0.1
importlib_resources==6.1.2
inflect==7.0.0
iniconfig==2.0.0
inquirerpy==0.3.4
intervaltree==3.1.0
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==8.1.1
isort==5.13.2
itsdangerous==2.1.2
janus==1.0.0
jedi==0.18.0
jeepney==0.7.1
jieba==0.42.1
Jinja2==3.1.3
jiwer==2.5.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.9
kaldi-python-io==1.2.2
kaldiio==2.18.0
keras==2.15.0
keyring==23.5.0
kiwisolver==1.3.2
kornia==0.7.1
kubernetes==30.1.0
langchain==0.1.9
langchain-community==0.0.24
langchain-core==0.1.27
langchain-nvidia-ai-endpoints==0.0.3
langsmith==0.1.10
language-selector==0.1
lark==1.1.9
latexcodec==2.0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
Levenshtein==0.22.0
lhotse==1.21.0
libclang==16.0.6
librosa==0.10.1
lightning-utilities==0.9.0
lilcom==1.7
lit==17.0.6
llama-index==0.10.24
llama-index-agent-openai==0.1.7
llama-index-cli==0.1.11
llama-index-core==0.10.24.post1
llama-index-embeddings-openai==0.1.7
llama-index-indices-managed-llama-cloud==0.1.5
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.13
llama-index-multi-modal-llms-openai==0.1.4
llama-index-program-openai==0.1.4
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.12
llama-index-readers-llama-parse==0.1.4
llama-parse==0.4.0
llamaindex-py-client==0.1.13
llvmlite==0.42.0
lockfile==0.12.2
loguru==0.7.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.5.2
markdown-it-py==3.0.0
markdown2==2.4.12
MarkupSafe==2.1.5
marshmallow==3.20.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdurl==0.1.2
megatron-core==0.4.0
ml-dtypes==0.2.0
mmh3==4.1.0
monotonic==1.6
more-itertools==8.10.0
mpi4py==3.1.5
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.13
mypy==1.8.0
mypy-extensions==1.0.0
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nemo-nlp==0.9.0
nemo-text-processing==0.2.2rc0
# Editable install with no version control (nemo_toolkit==1.23.0rc0)
-e /home/ranga/venvs/nemo/bin/NeMo
nerfacc==0.5.3
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
nodeenv==1.8.0
notebook==6.4.8
ntlm-auth==1.4.0
numba==0.59.0
numcodecs==0.12.1
numpy==1.26.4
nvidia-ammo==0.7.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
onnx==1.15.0
onnx-graphsurgeon==0.3.27
onnxruntime==1.17.0
onnxsim==0.4.35
open-clip-torch==2.24.0
openai==1.14.3
OpenCC==1.1.6
opencv-python==4.9.0.80
openpyxl==3.1.2
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optimum==1.16.2
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.0
pangu==4.0.6.1
parameterized==0.9.0
paramiko==2.9.3
parso==0.8.1
pathlib==1.0.1
pathspec==0.12.1
pexpect==4.8.0
pfzy==0.3.4
pickleshare==0.7.5
pillow==10.2.0
plac==1.4.2
platformdirs==4.2.0
pluggy==1.4.0
ply==3.11
polygraphy==0.49.0
pooch==1.8.0
portalocker==2.8.2
posthog==3.5.0
pre-commit==3.6.0
progress==1.6
prometheus-client==0.9.0
prompt-toolkit==3.0.28
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
py==1.10.0
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pybind11-stubgen==2.4.2
pybtex==0.24.0
pybtex-docutils==1.0.3
pycairo==1.20.1
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pydantic==2.6.3
pydantic_core==2.16.3
pydeck==0.9.1
pydub==0.25.1
Pygments==2.17.2
PyGObject==3.42.1
PyJWT==2.3.0
pykerberos==1.1.14
pyloudnorm==0.1.1
pymacaroons==0.13.0
PyMCubes==0.1.4
PyMuPDF==1.23.25
PyMuPDFb==1.23.22
PyNaCl==1.5.0
pynini==2.1.5
pynvml==11.5.0
pyparsing==2.4.7
pypdf==4.1.0
PyPika==0.48.9
pypinyin==0.50.0
pypinyin-dict==0.7.0
pyproject_hooks==1.0.0
pyRFC3339==1.1
pyrsistent==0.18.1
PySocks==1.7.1
pytest==8.0.0
pytest-cov==4.1.0
pytest-forked==1.6.0
pytest-runner==6.0.1
pytest-xdist==3.5.0
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-engineio==4.9.1
python-multipart==0.0.9
python-socketio==5.11.3
pythran==0.10.0
pytorch-lightning==2.0.7
pytorch-transformers==1.2.0
pytz==2024.1
pywinrm==0.3.0
pyxdg==0.27
PyYAML==6.0.1
pyzmq==22.3.0
rapidfuzz==2.13.7
regex==2023.12.25
reportlab==3.6.8
requests==2.31.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
resampy==0.4.2
responses==0.18.0
rich==13.7.0
rouge-score==0.1.2
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.2.2
s3transfer==0.10.0
sacrebleu==2.4.0
sacremoses==0.1.1
safetensors==0.4.2
scikit-learn==1.4.0
scipy==1.8.0
seaborn==0.13.2
SecretStorage==3.3.1
selinux==3.3
semantic-version==2.10.0
Send2Trash==1.8.1b0
sentence-transformers==2.3.1
sentencepiece==0.1.99
sentry-sdk==1.40.4
setproctitle==1.3.3
sgmllib3k==1.0.0
shellingham==1.5.4
simple-websocket==1.0.0
simplejson==3.17.6
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.1
sox==1.4.1
soxr==0.3.7
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-bibtex==2.6.2
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.27
sqlparse==0.4.4
starlette==0.36.3
streamlit==1.34.0
striprtf==0.0.26
sympy==1.12
systemd-python==234
tabulate==0.9.0
taming-transformers==0.0.1
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.35.0
tensorrt==9.2.0.post12.dev5
tensorrt-bindings==9.2.0.post12.dev5
tensorrt-dispatch==8.6.1
tensorrt-lean==8.6.1
tensorrt-libs==9.2.0.post12.dev5
tensorrt-llm==0.7.1
tensorstore==0.1.45
termcolor==2.4.0
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
textdistance==4.6.1
texterrors==0.4.4
tf2onnx==1.16.1
threadpoolctl==3.2.0
tiktoken==0.6.0
timm==0.9.12
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.2.0
torch2trt-unofficial==0.0.3
torchaudio==2.2.0
torchdata==0.7.1
torchdiffeq==0.2.3
torchmetrics==1.3.1
torchprofile==0.0.4
torchsde==0.2.6
torchtext==0.17.0
torchvision==0.17.0
tornado==6.1
tqdm==4.66.2
traitlets==5.1.1
trampoline==0.1.2
transformers==4.37.2
trimesh==4.1.3
triton==2.2.0
typed-ast==1.5.5
typer==0.9.0
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
Unidecode==1.3.8
urllib3==2.0.7
urwid==2.1.2
usb-creator==0.3.7
uvicorn==0.27.1
uvloop==0.19.0
virtualenv==20.25.0
wadllib==1.3.6
wandb==0.16.3
watchdog==4.0.0
watchfiles==0.22.0
wcwidth==0.2.13
webdataset==0.1.62
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.1
wget==3.2
widgetsnbextension==4.0.9
wrapt==1.14.1
wsproto==1.2.0
xdg==5
xkit==0.0.0
xmltodict==0.12.0
xxhash==3.4.1
yarl==1.9.4
youtokentome==1.0.6
zarr==2.16.1
zipp==3.17.0
