absl-py
accelerate
addict
aiofiles
aiohttp
aiosignal
alabaster
altair
aniso8601
annotated-types
ansible-base
antlr4-python3-runtime
anyio
apache-libcloud
appdirs
apturl
argcomplete
argon2-cffi
arxiv
asciitree
asgiref
astunparse
async-timeout
attrdict
attrs
audioread
Babel
backcall
backoff
bcrypt
beautifulsoup4
beniget
bidict
black
bleach
blinker
boto3
botocore
braceexpand
Brlapi
Brotli
bs4
build
cachetools
cdifflib
certifi
cffi
cfgv
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
clip
cmake
cohere
colorama
colored
coloredlogs
comm
command-not-found
coverage
cryptography
cuda-python
cupshelpers
cycler
Cython
cytoolz
dataclasses-json
datasets
dbus-python
decorator
defer
defusedxml
Deprecated
diffusers
dill
dirtyjson
Distance
distlib
distro
distro-info
Django
dnspython
docker-pycreds
docopt
docutils
duplicity
editdistance
einops
einops-exts
entrypoints
et-xmlfile
evaluate
exceptiongroup
execnet
faiss-cpu
fastapi
fastavro
fasteners
fasttext
feedparser
ffmpy
filelock
FlagEmbedding
Flask
Flask-RESTful
Flask-SocketIO
flatbuffers
fonttools
frozenlist
fs
fsspec
ftfy
future
g2p-en
gast
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
gradio
gradio_client
graphviz
greenlet
grpcio
gyp
h11
h5py
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hydra-core
identify
idna
ijson
image
imageio
imagesize
importlib-metadata
importlib_resources
inflect
iniconfig
inquirerpy
intervaltree
ipykernel
ipython
ipython_genutils
ipywidgets
isort
itsdangerous
janus
jedi
jeepney
jieba
Jinja2
jiwer
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kaldi-python-io
kaldiio
keras
keyring
kiwisolver
kornia
kubernetes
langchain
langchain-community
langchain-core
langchain-nvidia-ai-endpoints
langsmith
language-selector
lark
latexcodec
launchpadlib
lazr.restfulclient
lazr.uri
lazy_loader
Levenshtein
lhotse
libclang
librosa
lightning-utilities
lilcom
lit
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
llamaindex-py-client
llvmlite
lockfile
loguru
louis
lxml
lz4
macaroonbakery
Mako
Markdown
markdown-it-py
markdown2
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
megatron-core
ml-dtypes
mmh3
monotonic
more-itertools
mpi4py
mpmath
msgpack
multidict
multiprocess
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nemo-nlp
nemo-text-processing
nerfacc
nest-asyncio
netaddr
netifaces
networkx
ninja
nltk
nodeenv
notebook
ntlm-auth
numba
numcodecs
numpy
nvidia-ammo
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu11
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu11
nvidia-cufft-cu12
nvidia-curand-cu11
nvidia-curand-cu12
nvidia-cusolver-cu11
nvidia-cusolver-cu12
nvidia-cusparse-cu11
nvidia-cusparse-cu12
nvidia-nccl-cu11
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu11
nvidia-nvtx-cu12
oauthlib
olefile
omegaconf
onnx
onnx-graphsurgeon
onnxruntime
onnxsim
open-clip-torch
openai
OpenCC
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optimum
orjson
overrides
packaging
pandas
pandocfilters
pangu
parameterized
paramiko
parso
pathlib
pathspec
pexpect
pfzy
pickleshare
pillow
plac
platformdirs
pluggy
ply
polygraphy
pooch
portalocker
posthog
pre-commit
progress
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
py
pyannote.core
pyannote.database
pyannote.metrics
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pybind11
pybind11-stubgen
pybtex
pybtex-docutils
pycairo
pycparser
pycryptodomex
pycups
pydantic
pydantic_core
pydeck
pydub
Pygments
PyGObject
PyJWT
pykerberos
pyloudnorm
pymacaroons
PyMCubes
PyMuPDF
PyMuPDFb
PyNaCl
pynini
pynvml
pyparsing
pypdf
PyPika
pypinyin
pypinyin-dict
pyproject_hooks
pyRFC3339
pyrsistent
PySocks
pytest
pytest-cov
pytest-forked
pytest-runner
pytest-xdist
python-apt
python-dateutil
python-debian
python-dotenv
python-engineio
python-multipart
python-socketio
pythran
pytorch-lightning
pytorch-transformers
pytz
pywinrm
pyxdg
PyYAML
pyzmq
rapidfuzz
regex
reportlab
requests
requests-kerberos
requests-ntlm
requests-oauthlib
requests-toolbelt
resampy
responses
rich
rouge-score
rsa
ruamel.yaml
ruamel.yaml.clib
ruff
s3transfer
sacrebleu
sacremoses
safetensors
scikit-learn
scipy
seaborn
SecretStorage
selinux
semantic-version
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
sgmllib3k
shellingham
simple-websocket
simplejson
six
smmap
sniffio
snowballstemmer
sortedcontainers
soundfile
soupsieve
sox
soxr
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlalchemy
sqlite
supervised
sympy
tensorboard
tensorboard-plugin-wit
tensorly
tensorflow
tensorflow-datasets
tensorflow-hub
tensorflow-quantum
tensorflow-text
termcolor
terminado
text-unidecode
textblob
thinc
threadpoolctl
timm
tokenizers
tomli
toolz
tornado
tqdm
traitlets
transformers
triton
typed-ast
typing-extensions
urllib3
watchdog
wcwidth
webcolors
webencodings
websockets
wrapt
yarl
zipp
zstandard
